<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Not Available</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
   <div class="wrap">
    <div class="box">
        <h1>
            Sorry This application only Available during working hours between Monday to friday and 9 - 17
            <br> <br>
            <small>Thank You!</small>
        </h1>
    </div>
   </div>
    
</body>
</html>