<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Our Services</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <div class="header">
            <div class="logo">Logo</div>
            <div class="nav">
                <ul>
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li><a href="services">Contact</a></li>
                    <li><a href="contact">Services</a></li>
                </ul>
            </div>
        </div>
        <div class="service">
            <p>SERVICES PAGE</p>
        </div>
</div>
    
</body>
</html>